<div class="main_wrap">
    <div class="container">
      <div class="row" style="margin: 0 auto;">
        <div class="col-xl-4" style="margin: 0 auto;">
          <mat-card class="row example-card parent mat-elevation-z3">
            <div class="block child">
              <!-- <p style="margin-top: 13px;font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;">HirePro</p> -->
              <mat-form-field class="col-md-12" style="color :gray;" appearance="outline">
                <mat-label>ClientName</mat-label>
                <input matInput  name="clientName">
                <mat-icon matSuffix>account_circle</mat-icon>
              </mat-form-field>

              <mat-form-field class="col-md-12" style="color :gray;" appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput [(ngModel)]="userName" name="userName">
                <mat-icon matSuffix>account_circle</mat-icon>
              </mat-form-field>
              <mat-form-field class="col-md-12" style="color :gray;" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput [(ngModel)]="passwords" name="passwords">
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
              <div><a routerLink="/login">Forgot Password?</a></div>
              <div>
                <button mat-raised-button  class="btn-style1" (click)="onsaveclick()">Signin</button>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
    </div>