<div class="container">
    <div class="signup-form">
        <mat-card class="row example-card parent mat-elevation-z3">
            <div class="block child">
              <p style="margin-top: 13px;font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;">Add user</p>
              <mat-form-field class="col-md-3" style="color :gray;" >
                <mat-label>Name</mat-label>
                <input matInput  name="Name"  required>
                <!-- <mat-icon matSuffix>account_circle</mat-icon> -->
              </mat-form-field>
              <mat-form-field class="col-md-3 example-form" style="color :gray;" >
                <mat-label>Designation</mat-label>
                <input matInput  name="Designation" required>
                <!-- <mat-icon matSuffix>lock</mat-icon> -->
              </mat-form-field>
              <mat-form-field class="col-md-3 example-form" style="color :gray;" >
                <mat-label>Email Address</mat-label>
                <input matInput  name="EmailAddress"  required>
                <!-- <mat-icon matSuffix>lock</mat-icon> -->
              </mat-form-field>
              <mat-form-field class="col-md-3 example-form" style="color :gray;" >
                <mat-label>Access Level</mat-label>
                <input matInput  name="Access Level"  required>
                <!-- <mat-icon matSuffix>lock</mat-icon> -->
              </mat-form-field>
              
            </div>
            <div>
                <button mat-raised-button  class="btn-style1" (click)="onsaveclick()">Update</button>
            </div>
    </mat-card>
    </div>