<mat-toolbar style="background-color: #87CEFA;" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
<h1 class="example-app-name" style="color: #C14763;">HirePro</h1>
    <span class="menu-spacer"></span>
    <button mat-icon-button (click)= "logoutClick()" class="btn">
        <mat-icon class="toolbar-icons material-icons" >power_settings_new</mat-icon>
    </button>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container"> 
<mat-sidenav #snav mode="side" class="sidenav" close >
    <mat-nav-list (click)="snav.toggle()">
            <mat-list-item ><mat-icon class="material-icons" style="color:black;margin-left: 7px;font-size: 25px;vertical-align: middle" >dashboard</mat-icon><a mat-list-item [routerLink]="['jobposting']" style="color: black;font-size: 20px;font-weight:lighter;">JobPosting</a></mat-list-item>
            <mat-list-item><mat-icon class="material-icons" style="color:black;margin-left: 7px;font-size: 25px;vertical-align: middle" >dashboard</mat-icon><a mat-list-item [routerLink]="['candidate']" style="color: black;font-size: 20px;font-weight:lighter;">Candidates</a></mat-list-item>
            <mat-list-item><mat-icon class="material-icons" style="color:black;margin-left: 7px;font-size: 25px;vertical-align: middle" >dashboard</mat-icon><a mat-list-item [routerLink]="['Acess']" style="color: black;font-size: 20px;font-weight:lighter;">Access</a></mat-list-item>
            <mat-list-item><mat-icon class="material-icons" style="color:black;margin-left: 7px;font-size: 25px;vertical-align: middle" >dashboard</mat-icon><a mat-list-item [routerLink]="['Template']" style="color: black;font-size: 20px;font-weight:lighter;">Templates</a></mat-list-item>
            <mat-list-item><mat-icon class="material-icons" style="color:black;margin-left: 7px;font-size: 25px;vertical-align: middle" >dashboard</mat-icon><a mat-list-item [routerLink]="['jobpostlist']" style="color: black;font-size: 20px;font-weight:lighter;">JobPostList</a></mat-list-item>            
            <mat-list-item><mat-icon class="material-icons" style="color:black;margin-left: 7px;font-size: 25px;vertical-align: middle" >dashboard</mat-icon><a mat-list-item [routerLink]="['technician']" style="color: black;font-size: 20px;font-weight:lighter;">Technician</a></mat-list-item>            
        </mat-nav-list>
</mat-sidenav>
<mat-sidenav-content>
    <router-outlet></router-outlet> 
</mat-sidenav-content>
</mat-sidenav-container>
